<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/pokemon.js"></script>
    <title>New Pokemon</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Choose your Pokemon!</h1>
    <form action="/users/<%=currentUser._id%>/teams/team/pokemon/" method="POST">
        <select id="gen1" class="pokedex" name="pokedex">
            <option>Gen 1 (1-151)</option>
            <% for(let i = 0; i <= 150; i++){ %>
                <option value="<%=i + 1%> <%=genPokemon[i].name%>"><%=genPokemon[i].num%> <%=genPokemon[i].name%></option>
            <% } %>
        </select>
        <select id="gen2" class="pokedex" name="pokedex">
            <option>Gen 2 (152-251)</option>
            <% for(let i = 151; i <= 250; i++){ %>
                <option value="<%=i + 1%> <%=genPokemon[i].name%>"><%=genPokemon[i].num%> <%=genPokemon[i].name%></option>
            <% } %>
        </select>
        <select id="gen3" class="pokedex" name="pokedex">
            <option>Gen 3 (252-386)</option>
            <% for(let i = 251; i <= 385; i++){ %>
                <option value="<%=i + 1%> <%=genPokemon[i].name%>"><%=genPokemon[i].num%> <%=genPokemon[i].name%></option>
            <% } %>
        </select>
        <select id="gen4" class="pokedex" name="pokedex">
            <option>Gen 4 (387-493)</option>
            <% for(let i = 386; i <= 492; i++){ %>
                <option value="<%=i + 1%> <%=genPokemon[i].name%>"><%=genPokemon[i].num%> <%=genPokemon[i].name%></option>
            <% } %>
        </select>
        <select id="gen5" class="pokedex" name="pokedex">
            <option>Gen 5 (494-649)</option>
            <% for(let i = 493; i <= 648; i++){ %>
                <option value="<%=i + 1%> <%=genPokemon[i].name%>"><%=genPokemon[i].num%> <%=genPokemon[i].name%></option>
            <% } %>
        </select>
        <select id="gen6" class="pokedex" name="pokedex">
            <option>Gen 6 (650-721)</option>
            <% for(let i = 649; i <= 720; i++){ %>
                <option value="<%=i + 1%> <%=genPokemon[i].name%>"><%=genPokemon[i].num%> <%=genPokemon[i].name%></option>
            <% } %>
        </select>
        <select id="gen7" class="pokedex" name="pokedex">
            <option>Gen 7 (722-809)</option>
            <% for(let i = 721; i <= 808; i++){ %>
                <option value="<%=i + 1%> <%=genPokemon[i].name%>"><%=genPokemon[i].num%> <%=genPokemon[i].name%></option>
            <% } %>
        </select>
        <select id="gen8" class="pokedex" name="pokedex">
            <option>Gen 8 (810-905)</option>
            <% for(let i = 809; i <= 904; i++){ %>
                <option value="<%=i + 1%> <%=genPokemon[i].name%>"><%=genPokemon[i].num%> <%=genPokemon[i].name%></option>
            <% } %>
        </select>
        <select id="gen9" class="pokedex" name="pokedex">
            <option>Gen 9 (906-1010)</option>
            <% for(let i = 905; i <= 1009; i++){ %>
                <option value="<%=i + 1%> <%=genPokemon[i].name%>"><%=genPokemon[i].num%> <%=genPokemon[i].name%></option>
            <% } %>
        </select> <br> <br>
        Pokemon: <input required type="text" class="pkChoice" name="pokemon" readonly> <br>
        Nickname: <input type="text" name="nickname"> <br>
        <input type="submit" value="Make Pokemon">
    </form>
</body>
</html>