<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/js/pokemon.js"></script>
    <title>New Pokemon</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Add More to Your Pokemon!</h1>
    <form action="/users/<%=currentUser._id%>/teams/<%= teamID %>/pokemon/new/data" method="POST">
        Pokemon: <input required type="text" class="pkChoice" name="pokemon" value="<%= pokemon %>" readonly> <br>
        <% if(hasShiny){ %>
            Shiny? <input type="checkbox" name="isShiny"> <br>
        <% } %>
        Ability: 
            <select name="ability" class="submit">
                <% abilities.forEach((ability) =>{ %>
                    <option value="<%= ability %>"><%=ability%></option>
                <% }) %> 
            </select> <br>
        Moves:
            <select name="moves" class="submit">
                <option></option>
                <% moves.forEach((move) =>{ %>
                    <option value="<%= move %>"><%=move%></option>
                <% }) %>
            </select>
            <select name="moves" class="submit">
                <option></option>
                <% moves.forEach((move) =>{ %>
                    <option value="<%= move %>"><%=move%></option>
                <% }) %>
            </select>
            <select name="moves" class="submit">
                <option></option>
                <% moves.forEach((move) =>{ %>
                    <option value="<%= move %>"><%=move%></option>
                <% }) %>
            </select>
            <select name="moves" class="submit">
                <option></option>
                <% moves.forEach((move) =>{ %>
                    <option value="<%= move %>"><%=move%></option>
                <% }) %>
            </select> <br>
        <input type="submit" class="submit" value="Make Pokemon">
    </form>
</body>
</html>