<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Team</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1><%= pokemon.nickname %> (<%= pokemon.pokemon %>)</h1>
    <img src="<%= pokemon.img %>" alt="<%= pokemon.pokemon %>">
    
    <h4>Typing</h4>
    <ul>
        <% pokemon.typing.forEach((type) =>{ %>
        <li class="<%= type %>"><%=type%></li>
        <% }) %>
    </ul>

    <a href="/users/<%=currentUser._id%>/teams/<%= teamID %>/pokemon/<%=pokemon._id%>/edit/pokemon">Edit pokemon</a>
    <form action="/users/<%=currentUser._id%>/teams/<%= teamID %>/pokemon/<%=pokemon._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Remove Pokemon">
    </form>
    <a href="/users/<%=currentUser._id%>/teams/<%= teamID %>/pokemon/">Back to Team</a>
</body>
</html>