<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Teams index</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Your Teams</h1>
    <% currentUser.teams.forEach((team) => { %>
        <a href="/users/<%= currentUser._id %>/teams/<%= team._id %>" id="team" class="submit link">
            <div class="team"> <%= team.nickname %> </div>
            <% team.members.forEach((pokemon, i) => { %>
                <img class="mon<%=i+1%>" src="<%= pokemon.img %>" alt="<%= pokemon.pokemon %>">
            <% }) %>
        </a>
        <div class="teamOptions">
            <form action="/users/<%=currentUser._id%>/teams/<%=team._id%>/?_method=DELETE" method="POST" class="deleteTeam">
                <input type="submit" class="submit" value="Delete Team">
            </form>
            <a href="/users/<%=currentUser._id%>/teams/<%=team._id%>/edit" class="submit eTeamLink">Rename Team</a>
        </div>
    <% }) %>
    <form action="/users/<%=currentUser._id%>/teams/new/" method="GET">
        <input type="submit" class="submit" value="Make new team">
    </form>
</body>
</html>